<% if resource.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <li><%= bootstrap_flash(message) %></li>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
      <% end %>
    </ul>
  </div>
<% end %>
