<div class="row justify-content-center">
  <div class="col-md-12">
    <div class="row">
      <% @event.photos.shuffle.each do |photo| %>
        <div class="item col-sm-6 col-md-3 mb-3">
          <div class="small">
            <%= link_to(image_tag(photo.photo.url, class: "img-fluid"), photo.photo.url,
                        data: { lightbox: "roadtrip",
                                title: "#{ t('activerecord.attributes.photo.added_by') +
                                  + photo_title(photo) + " " + delete_photo_link_with_icon(photo)}" }) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'lightbox' %>
